@(eventForm: Form[Event], eventGames: List[models.EventGame], games: List[models.Game])

@import helper._
@import models.Event


@inputText(eventForm("title"))
@inputText(eventForm("streamLink"))
@inputText(eventForm("startTime"))
@inputText(eventForm("endTime"))
<div>
  <h2>Games at this event</h2>
</div>
<div>
  @for(game <- games) {
  <label>
    <input type="checkbox" name="games[]" value="@game.id"
      @eventGames.map { eGame =>
        @if(game.id == eGame.game_id) { checked="checked"} 
      }
    />
    @game.title
  </label>
  }
</div>