@(title: String)(content: Html)

<!DOCTYPE html>

@**
*  A standard model for templates, the two arguments at the top, reference them using the
*  @<variable> syntax. You can use expressions with @{}.
*@

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
    </body>
</html>
